<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/99724ae1be.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <nav>
        <div>
          <a href="/"><span>Bookers</span></a>
          <button>
            <span></span>
          </button>
          <div>
            <ul>
            <% if user_signed_in? %>
              <li>
                <%= link_to user_path(current_user.id), method: :get do %>
                <i class="fa-solid fa-house"></i>Home
                <% end %>
              </li>
              <li>
                <%= link_to users_path, method: :get do %>
                <i class="fa-solid fa-users"></i>Users
                <% end %>
              </li>
              <li>
                <%= link_to books_path, method: :get do %>
                <i class="fa-solid fa-book-open"></i>Books
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa-solid fa-right-from-bracket"></i>Log out
                <% end %>
              </li>

            <% else %>
              <li>
                <%= link_to root_path, method: :get do %>
                <i class="fa-solid fa-house"></i>Home
                <% end %>
              </li>
              <li>
                <%= link_to about_path, method: :get do %>
                <i class="fa-solid fa-link"></i>About
                <% end %>
              </li>
              <li>
                <%= link_to new_user_registration_path, method: :get do %>
                <i class="fa-solid fa-user-plus"></i>Sign up
                <% end %>
              </li>
              <li>
                <%= link_to new_user_session_path, method: :get do %>
                <i class="fa-solid fa-right-to-bracket"></i>Log in
                <% end %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
    <% flash.each do |message_type, message| %>
      <div class="flash-message <%= message_type %>"><%= message %></div>
    <% end %>
    
    <%= yield %>
    </main>

    <footer>
      <div>
        <div>
          <div>
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
